body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.ticket {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header {
    text-align: center;
}

.passenger-info, .flight-info, .seat-info, .price {
    margin-top: 20px;
}

.passenger-info p, .flight-info p, .seat-info p, .price p {
    margin: 5px 0;
}

.ticket h1 {
    margin: 0;
}

strong {
    font-weight: bold;
}
